@import 'https://fonts.googleapis.com/css?family=Average|Fjalla+One';

body {
    background-color: gray;
}

#container {
    max-width: 720px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 10px;
    background-color: white;
}

h1,
h2,
h3,
h4,
a {
    font-family: 'Fjalla One', sans-serif;
}

h1,
h2,
h3,
h4 {
    letter-spacing: 1.8px;
}

p {
    font-family: 'Average', serif;
    text-align: justify;
    letter-spacing: 1.2px;
    color: gray;
}

img {
    width: 200px;
}
