/* Notes:
    orange color value: #fcaf17
    grey color value: #a6a6a6
*/

@import 'https://fonts.googleapis.com/css?family=Average|Fjalla+One';

body {
    background-color: white;
}

#container {
    max-width: 680px;
    margin: 30px auto;
    padding: 30px 0;
}

@media all and (max-width: 550px) {
    #container {
        margin: 0 auto;
    }
}

h1,
h2,
h3,
h4,
a {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
    letter-spacing: 1.4px;
}

h1,
h2 {
    color: #fcaf17;
}

h3,
h4 {
    color: #a6a6a6;
}

p {
    font-family: 'Average', serif;
    text-align: justify;
    letter-spacing: 1.2px;
    color: #a6a6a6;
}

/* This is the character styling for jQuery plugin #2set the font */

.char1 {
    font-size: 2.6rem;
}

/* --------------------------------------------------- header */

header {
    padding: 10px 0;
}

header h1 {
    font-size: 2.8em;
    margin-top: 18px;
    margin-bottom: 10px;
}

header h2 {
    margin: 10px 0 25px;
    color: #a6a6a6;
}

img.contact {
    height: 55px;
    margin: 0 20px 0 0;
}

img.headshot {
    width: 200px;
    float: left;
    margin-bottom: 20px;
    padding: 6px;
    border: 3px solid #fcaf17;
}

.name {
    float: left;
    padding-left: 30px;
    margin-top: 10px;
}

@media all and (max-width: 550px) {
    img.headshot {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-bottom: 5px;
    }

    .name {
        width: 280px;
        margin: auto;
        float: none;
        text-align: center;
        padding: 0;
    }

    .contacticons {
        padding-left: 0;
    }
}

nav {
    clear: both;
    background-color: #fcaf17;
}

nav li {
    display: block;
}

/* --------------------------------------------------- content */

.content {
    clear: both;
    padding: 15px 0;
}

img.logo {
    width: 125px;
    float: left;
}

.heading {
    float: left;
    margin: 0 0 25px 30px;
    padding: 18px 0;
}

.heading h2 {
    margin: 0;
}

.heading h3 {
    margin: 8px 0;
}

.heading h4 {
    margin: 0;
}

@media all and (max-width: 550px) {

    main {
        padding: 0 15px;
    }

    img.logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .heading {
        margin-left: 0;
    }


}

.description {
    clear: both;
    padding-bottom: 20px;
}

/* --------------------------------------------------- skills */

.skills h2 {
    color: #a6a6a6;
}

.skills img {
    width: 65px;
}

.skills ul {
    list-style: none;
    padding-left: 0;
}

.skills ul li {
    display: inline-block;
    margin: 10px;
}

/* --------------------------------------------------- affiliations */

.affiliations ul {
    list-style: none;
    padding-left: 0;
}

.affiliations li {
    margin-bottom: 1em;
}

.affiliations a {
    text-decoration: none;
    color: #a6a6a6;
    letter-spacing: 1.2px;
    font-size: 1.4em;
}

.affiliations a:hover {
    color: #fcaf17;
    border-bottom: 2px solid #a6a6a6;
}

/* --------------------------------------------------- footer */

footer {
    margin-top: 40px;
    border-top: 2px solid #fcaf17;
    text-align: center;
    padding-top: 20px;
}

footer h1,
footer h2 {
    margin: 0 0 10px 0;
}

footer h1 {
    font-size: 1.6em;
}

footer h2 {
    font-size: 1.3em;
    color: #a6a6a6;
}

footer img {
    height: 45px;
}

img.contactfoot {
    height: 40px;
    margin: 0 20px 0 0;
}

img.contactfoot.github {
    margin-right: 20px;
}
